<!doctype html>

<script type="text/javascript" src="/js/angular/angular.min.js"></script>
<script type="text/javascript" src="/js/angular/angular-resource.js"></script>
<script type="text/javascript" src="/js/app/app.js"></script>
<link rel="stylesheet" type="text/css" href="/css/popup.css">
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">

<div id="mainPopup" ng-app="devlapse" ng-csp>
<div id="login" ng-controller="LoginControl">
	<a href="#" ng-show="!loggedIn" ng-click="login()" class="button_imgur">Log in to imgur</a>
	<a href="#" ng-show="loggedIn" ng-click="logout()" class="button_imgur">Log out {{username}}</a> 

<div ng-show="loggedIn">
<div id="domain-list"  ng-controller="DomainListControl">
	<ul>
 		<li ng-repeat="domain in domains">
 			<input class="chk_enabled" type="checkbox" ng-change="saveDomains()" ng-model="domain.enabled"/>
 			<div>
 			<div class="domain-header">
 					<h3 class="domain-host">{{domain.host}}</h3> 

 					<span class="domain-last-image" ng-show="domain.lastimage">
	 					<a target="blank" href="{{domain.lastimage}}">
	 						<img src="{{$parent.getThumb(domain.lastimage)}}" width="48px" />
	 					</a>
 					</span>
 					<span class="domain-count"><i class="fa fa-camera-retro"></i>{{domain.count}}</span>
 					<span class="domain-options"><a ng-click='showBody=!showBody' class="button" href='#'><i class="fa fa-cog"></i>Edit</a></span>
 			</div>
 			<div class="domain-body" ng-show='showBody'>
 				<p>
	 			<label>Host Url:</label>
	 			<input ng-change="saveDomains()" ng-model="domain.host">
	 			</p>
	 			<p>
				<label>Album: </label>
				<select  ng-change="saveDomains()"  ng-options="item.id as item.title for item in albums" ng-model="domain.album"></select>
				</p>
				<label>Time delay: </label>
	 			<input type="number" ng-change="saveDomains()" ng-model="domain.delay"/>
	 			</p>

	 			<p style="padding-top:10px;">
	 			<span ng-repeat="image in domain.images">
	 				<a target="blank" href="{{image}}"><img src="{{$parent.getThumb(image)}}" width="64px" /></a>	
	 			</span>
	 			</p>

	 			</div>

	 			<div class="domain-footer">	 			
	 			<p>
	 			
	 			<a href='#' ng-click="removeDomain(item)" class="button red">Remove</a>   
	 			<a href="http://imgur.com/a/{{domain.album}}" target="blank" class="button green">Go to album</a>
	 			</p>
	 			
 			</div>
 			</div>
 		</li>
 	</ul>
 	
 	<p>
 	<label>Host Url: </label>
 	<input ng-model="newDomain.host">
	</p><label>Album:</label>
 	<select ng-options="item.id as item.title for item in albums" ng-model="newDomain.album"></select></p>
 	<p>
 	<label>Time delay: </label>
 	<input type="number" ng-model="newDomain.delay"/>
 	</p
 	<p>
 	<label>Enabled: </label>
 	<input type="checkbox" ng-model="newDomain.enabled"/>
 	</p>
 	<p><a href='#' class="button" ng-click='addDomain()'>Add</a></p>
</div>
</div>
</div>
</div>