<!doctype html>

<script type="text/javascript" src="/js/angular/angular.min.js"></script>
<script type="text/javascript" src="/js/app/app.js"></script>
<link rel="stylesheet" type="text/css" href="/css/popup.css">
<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">

<div id="mainPopup" ng-app="devlapse" ng-csp>
<div id="login" ng-controller="LoginControl">
<div>
	<a href="#" ng-show="!loggedIn" ng-click="login()">Log in to imgur</a>
	<a href="#" ng-show="loggedIn" ng-click="logout()">Log out {{username}}</a> 
</div>
<div>
<div id="domain-list" ng-show="loggedIn" ng-controller="DomainListControl">
	<ul>
 		<li ng-repeat="domain in domains">
 			<div class="domain-header">
 				<p ng-click='showBody=!showBody'>
 					<span class="domain-last-image" ng-if="domain.lastimage"><a target="blank" href="{{domain.lastimage}}"><img ng- src="{{$parent.getThumb(domain.lastimage)}}" width="48px" /></a></span>
 					<span class="domain-host"><i class="fa fa-globe"></i>{{domain.host}}</span> 
 					<span class="domain-delay"><i class="fa fa-clock-o"></i>{{domain.delay}}</span> 
 					<span class="domain-count"><i class="fa fa-camera-retro"></i>{{domain.count}}</span>
 					<span class="domain-options"><a href='#'><i class="fa fa-cog"></i></a></span>
 				</p>
 			</div>
 			<div class="domain-body" ng-show='showBody'>
	 			<p>Host Url:<input ng-change="saveDomains()" ng-model="domain.host"></p>
	 			<p>Album:  <select  ng-change="saveDomains()"  ng-options="item.id as item.title for item in albums" ng-model="domain.album"></select></p>
	 			<p>Time delay (after refresh): <input type="number" ng-change="saveDomains()" ng-model="domain.delay"/></p>
	 			<p>Number of images: {{domain.count}}</p>
	 			<p> Enabled: <input type="checkbox" ng-change="saveDomains()" ng-model="domain.enabled"/></p>
	 			<p>
	 			<span ng-repeat="image in domain.images">
	 				<a target="blank" href="{{image}}"><img src="{{$parent.getThumb(image)}}" width="64px" /></a>	
	 			</span>
	 			</p>
	 			</div><div class="domain-footer">
	 			<p><a href='#' ng-click="removeDomain(item)">Remove</a>   <a href="http://imgur.com/a/{{domain.album}}" target="blank">Go to album</a></p>
	 			
 			</div>
 		</li>
 	</ul>
 	
 	<p>Host Url: <input ng-model="newDomain.host"></p>
 	<p>Album: <select ng-options="item.id as item.title for item in albums" ng-model="newDomain.album"></select></p>
 	<p>Time delay (after refresh): <input type="number" ng-model="newDomain.delay"/></p>
 	<p> Enabled: <input type="checkbox" ng-model="newDomain.enabled"/></p>
 	<p><a href='#' ng-click='addDomain()'>Add</a></p>
</div>
 	</div>
</div>